div {
    text-align: center;
}

body {
    background-size: cover;
    background-repeat: none;
    background-image: url(https://postfiles.pstatic.net/MjAxOTAzMjNfMTE3/MDAxNTUzMzI1OTY0OTc0.pZ_dUnGWc6cUgq-c7bkU5RMrMEW_mu7rUHeaUILs64gg.ME8GE9-0IrOVY9aYdvJc93KyBjhdyaZv3HWXNXv35cgg.JPEG.newsom_/IMG_8005.JPG?type=w966)
}

h1 {
    color: white;
}
